*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: black;
    color:white ;
}

body{
    background-color: rgb(27, 184, 142);
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
}
img{
    height: 20vh;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 10px 10px 10px rgb(6, 59, 45) ;
    object-fit: cover;

}

.choice{
    margin: 10px;
    height: 140px;
    width:150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    border: 5px solid black;
    border-radius: 30%;
    box-shadow: 10px 10px 50px black;
}

.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;

}

#user,#Comp{
    font-size: 50px;
}

.msgCon{
    margin-top: 5rem;
}

#msg{
    background-color: black;
    color: beige;
    font-size: 2rem;
    display: inline;
    padding: 10px;
    border-radius: 30px;
}